<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp4657F93A71FFA28BC921CB28F80F3F08" Guid="*">
                <File Id="filFC97A954DB13BCC638B94167F8ED827D" KeyPath="yes" Source="SourceDir\heicConverter.deps.json" />
            </Component>
            <Component Id="cmpBD1422B5B1490A5E0216F4D0E38CE202" Guid="*">
                <File Id="fil4275D1EE8D77A3AC9C326D86BB0DF137" KeyPath="yes" Source="SourceDir\heicConverter.dll" />
            </Component>
            <Component Id="cmpD9E4F51603B4E7538607910CF851FA4C" Guid="*">
                <File Id="fil8D8876C79E1402C1EEEAA13B5AF3A357" KeyPath="yes" Source="SourceDir\heicConverter.pdb" />
            </Component>
            <Component Id="cmpD6C0A8D8C804F081CA5FC5954B7DB8B9" Guid="*">
                <File Id="filC3DDF1B35979590AE11761824CF9F9C3" KeyPath="yes" Source="SourceDir\heicConverter.runtimeconfig.dev.json" />
            </Component>
            <Component Id="cmpA982BD0DD49049ADB27311B7B6099BCD" Guid="*">
                <File Id="fil7C47E747444CA323569CFF9BB814078C" KeyPath="yes" Source="SourceDir\heicConverter.runtimeconfig.json" />
            </Component>
            <Component Id="cmp5A07035FA52F4F9E1424BE35CC16915F" Guid="*">
                <File Id="fil72C197D43EC7996E816CEB4279B7388C" KeyPath="yes" Source="SourceDir\Microsoft.Windows.SDK.NET.dll" />
            </Component>
            <Component Id="cmp3B9C9B9385920A10BBA478F4EB3B7ACD" Guid="*">
                <Class Id="{05EE5F5D-4A35-3F2D-B10D-13148E60337A}" Context="InprocServer32" Description="System.CommandLine.IO.SystemConsole" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.IO.SystemConsole" Description="System.CommandLine.IO.SystemConsole" />
                </Class>
                <Class Id="{05F84297-A62F-32C6-9F0B-84EF46DB68D1}" Context="InprocServer32" Description="System.CommandLine.Argument" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Argument" Description="System.CommandLine.Argument" />
                </Class>
                <Class Id="{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}" Context="InprocServer32" Description="System.CommandLine.IO.TestConsole" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.IO.TestConsole" Description="System.CommandLine.IO.TestConsole" />
                </Class>
                <Class Id="{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}" Context="InprocServer32" Description="System.CommandLine.Invocation.ParseErrorResult" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Invocation.ParseErrorResult" Description="System.CommandLine.Invocation.ParseErrorResult" />
                </Class>
                <Class Id="{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}" Context="InprocServer32" Description="System.CommandLine.Collections.SymbolSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Collections.SymbolSet" Description="System.CommandLine.Collections.SymbolSet" />
                </Class>
                <Class Id="{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}" Context="InprocServer32" Description="System.CommandLine.Parsing.CommandLineStringSplitter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Parsing.CommandLineStringSplitter" Description="System.CommandLine.Parsing.CommandLineStringSplitter" />
                </Class>
                <Class Id="{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}" Context="InprocServer32" Description="System.CommandLine.Parsing.Parser" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Parsing.Parser" Description="System.CommandLine.Parsing.Parser" />
                </Class>
                <Class Id="{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}" Context="InprocServer32" Description="System.CommandLine.Parsing.SymbolResultSet" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Parsing.SymbolResultSet" Description="System.CommandLine.Parsing.SymbolResultSet" />
                </Class>
                <Class Id="{ED8CBF64-3828-3E23-80A3-5722290B8A14}" Context="InprocServer32" Description="System.CommandLine.Invocation.HelpResult" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="System.CommandLine.Invocation.HelpResult" Description="System.CommandLine.Invocation.HelpResult" />
                </Class>
                <File Id="fil88E781372CFBEE069440964A1F323BF4" KeyPath="yes" Source="SourceDir\System.CommandLine.dll" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.IO.SystemConsole" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32" Name="Class" Value="System.CommandLine.IO.SystemConsole" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05EE5F5D-4A35-3F2D-B10D-13148E60337A}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Argument" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32" Name="Class" Value="System.CommandLine.Argument" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{05F84297-A62F-32C6-9F0B-84EF46DB68D1}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.IO.TestConsole" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32" Name="Class" Value="System.CommandLine.IO.TestConsole" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1A56A7EB-701D-3B9B-8E66-9F0995EA2FA5}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Invocation.ParseErrorResult" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32" Name="Class" Value="System.CommandLine.Invocation.ParseErrorResult" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{514D5DBA-5453-3AA3-A471-07A61FCDD7EB}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Collections.SymbolSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32" Name="Class" Value="System.CommandLine.Collections.SymbolSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6FC8C0B5-3B22-3C30-B3B9-F5D9F00624AF}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Parsing.CommandLineStringSplitter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32" Name="Class" Value="System.CommandLine.Parsing.CommandLineStringSplitter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{BC9DFB7A-9C56-3764-A359-04C8BCF89EA0}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Parsing.Parser" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32" Name="Class" Value="System.CommandLine.Parsing.Parser" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D12B4DFD-4D88-391F-998C-F4B729FC2BA0}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Parsing.SymbolResultSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32" Name="Class" Value="System.CommandLine.Parsing.SymbolResultSet" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D8A13B94-4370-39BA-88C8-83BF2A1D12B7}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32\2.0.0.0" Name="Class" Value="System.CommandLine.Invocation.HelpResult" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32" Name="Class" Value="System.CommandLine.Invocation.HelpResult" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{ED8CBF64-3828-3E23-80A3-5722290B8A14}\InprocServer32" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6DAA9492-708D-3E08-9B06-59AA3045E9F5}\2.0.0.0" Name="Class" Value="System.CommandLine.Invocation.MiddlewareOrder" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6DAA9492-708D-3E08-9B06-59AA3045E9F5}\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6DAA9492-708D-3E08-9B06-59AA3045E9F5}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{6DAA9492-708D-3E08-9B06-59AA3045E9F5}\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C0CBB47B-6AF9-3FE2-B1BB-74D606961E6F}\2.0.0.0" Name="Class" Value="System.CommandLine.Parsing.ResponseFileHandling" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C0CBB47B-6AF9-3FE2-B1BB-74D606961E6F}\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C0CBB47B-6AF9-3FE2-B1BB-74D606961E6F}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{C0CBB47B-6AF9-3FE2-B1BB-74D606961E6F}\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA7DD62C-F1EA-304B-AE1F-F4E8AE6E817F}\2.0.0.0" Name="Class" Value="System.CommandLine.Parsing.TokenType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA7DD62C-F1EA-304B-AE1F-F4E8AE6E817F}\2.0.0.0" Name="Assembly" Value="System.CommandLine, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA7DD62C-F1EA-304B-AE1F-F4E8AE6E817F}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{DA7DD62C-F1EA-304B-AE1F-F4E8AE6E817F}\2.0.0.0" Name="CodeBase" Value="file:///[#fil88E781372CFBEE069440964A1F323BF4]" Type="string" Action="write" />
            </Component>
            <Component Id="cmp33C30AAD37872CE4355CA33B0DDA2127" Guid="*">
                <File Id="filEBB43C021EAE67A8D0F42ED495F441FF" KeyPath="yes" Source="SourceDir\WinRT.Runtime.dll" />
            </Component>
            <Directory Id="dirE7B4A6F2DD043E7C7ECBDE7B89C02FF1" Name="ref">
                <Component Id="cmp78EC9822D35FF31A06B2DAC2459ADE79" Guid="*">
                    <File Id="fil6403865346F094BF0BFA43413395CC0A" KeyPath="yes" Source="SourceDir\ref\heicConverter.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HarvestedComponents">
            <ComponentRef Id="cmp4657F93A71FFA28BC921CB28F80F3F08" />
            <ComponentRef Id="cmpBD1422B5B1490A5E0216F4D0E38CE202" />
            <ComponentRef Id="cmpD9E4F51603B4E7538607910CF851FA4C" />
            <ComponentRef Id="cmpD6C0A8D8C804F081CA5FC5954B7DB8B9" />
            <ComponentRef Id="cmpA982BD0DD49049ADB27311B7B6099BCD" />
            <ComponentRef Id="cmp5A07035FA52F4F9E1424BE35CC16915F" />
            <ComponentRef Id="cmp3B9C9B9385920A10BBA478F4EB3B7ACD" />
            <ComponentRef Id="cmp33C30AAD37872CE4355CA33B0DDA2127" />
            <ComponentRef Id="cmp78EC9822D35FF31A06B2DAC2459ADE79" />
        </ComponentGroup>
    </Fragment>
</Wix>