<?xml version="1.0" encoding="UTF-8"?>
<?include Version.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="heicConverter"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="N/A"
           UpgradeCode="441f4a35-7f7a-48b0-a459-81266b163d9e">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <UIRef Id="WixUI_Mondo" />

    <Feature Id="ProductFeature"
             Title="heicConverter"
             Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="HarvestedComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER"
                   Name="heicConverter">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="INSTALLFOLDER">
      <Component Id="heicConverterExe"
                 Guid="*">
        <File Id="$(var.heicConverter.TargetName).exe"
              KeyPath="yes"
              Source="$(var.heicConverter.TargetDir)" />
      </Component>
      <!-- https://stackoverflow.com/questions/2123762/add-menu-item-to-windows-context-menu-only-for-specific-filetype -->
      <Component Id="ContextMenu">
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Classes\SystemFileAssociations\.heic\Shell\convertto"
                       Name="MUIVerb"
                       Type="string"
                       Value="Convert to" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Classes\SystemFileAssociations\.heic\Shell\convertto"
                       Name="subcommands"
                       Type="string"
                       Value="" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Classes\SystemFileAssociations\.heic\Shell\convertto\Shell\jpg\command"
                       Type="expandable"
                       Value="&quot;[INSTALLFOLDER]$(var.heicConverter.TargetName).exe&quot; -f jpg -i &quot;%1&quot;" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Classes\SystemFileAssociations\.heic\Shell\convertto\Shell\png\command"
                       Type="expandable"
                       Value="&quot;[INSTALLFOLDER]$(var.heicConverter.TargetName).exe&quot; -f png -i &quot;%1&quot;" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Classes\SystemFileAssociations\.heic\Shell\convertto\Shell\bmp\command"
                       Type="expandable"
                       Value="&quot;[INSTALLFOLDER]$(var.heicConverter.TargetName).exe&quot; -f bmp -i &quot;%1&quot;" />
        <RegistryValue Root="HKLM"
                       Key="SOFTWARE\Classes\SystemFileAssociations\.heic\Shell\convertto\Shell\tiff\command"
                       Type="expandable"
                       Value="&quot;[INSTALLFOLDER]$(var.heicConverter.TargetName).exe&quot; -f tiff -i &quot;%1&quot;" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
